@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.menu-item {
  border: 1px solid #c3624a; ;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

.menu-item:hover {
  transform: scale(1.05);
}

.burger-btn,
.orange-btn,
.bbq-btn,
.sweet-btn,
.fried-btn,
.csr-btn,
.psr-btn,
.chips-btn {
  background: linear-gradient(yellow, red);
  border-color: #FFFFFF;
  color: #FFFFFF;
  margin-top: 10px;
  cursor: pointer;
}

.allergens {
  display: none;
  font-style: italic;
  margin-top: 5px;
}

.gradient-background {
  background: linear-gradient(300deg, #FFFFFF, #181616,#FFFFFF);
  background-size: 200% 200%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}