body {
  font-family: 'Bungee Spice', sans-serif;
}

.navbar {
  background-color: #141217;
}

.navbar-nav li:hover {
  text-shadow: #FFFFFF 2px 0px 10px;
}

.logo {
  width: 160px;
  height: 100px;
  border:2px solid;
  border-image-source: linear-gradient(yellow, red);
}

.logo:hover {
  box-shadow: #c3624a 2px 0px 10px;
}

.scrolling-text {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text p {
  font-size: larger;
  display: inline-block;
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  10% {
    transform: scale(50%);
  }

  50% {
    transform: scale(75%);
  }

  25% {
    transform: scale(100%);
  }

  100% {
    transform: translateX(-150%);
    /*minus 130 fixed visibility in smaller device */
  }
}

.phone-icon {
  background: linear-gradient(yellow, red);
  color: #FFFFFF;
  border-radius: 50%;
  padding: 6px;
}


.dropdown-divider {
  border-top: 1px solid #c3624a;
  margin: 5px 0;
}

.contact-divider {
  border-top: 2px solid #c3624a;
}

/*contact information icons */
.contact-email-icon,
.contact-phone-icon,
.contact-location-icon {
  background: linear-gradient(yellow, red);
  color: #FFFFFF;
  border-radius: 50%;
  padding: 6px;
}

.contact-submit-btn {
  background: linear-gradient(yellow, red);
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.about_paragraph p,
.contact_info,
.opening-times,
.reviews-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: large;
}

.opening-times {
  background-color: #c3624a;
}

.about p,
.add-info p {
  text-align: justify;
}

/* 404 page */
.off-track img {
  width: 100%;
  height: 500px;
  display: block;
  border: 2px solid #c3624a;
  border-radius: 10px;
  box-shadow: 4px 4px 4px#c3624a;

}

.off-track h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: linear-gradient(yellow, red);
  border-radius: 4px;
  padding: 6px;
}

.read-more {
  display: none;
}

@media (max-width:1024px) {
  .off-track h1 {
    text-align: justify;
  }
}

@media (max-width: 360px) {
  .foodtruck {
    width: 100%;
  }
}